.panel-form {

    background-color: #D7D7D7;
}

.panel-form .title {
    font-size: 32px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: Quicksand;
}

.button-place {
    text-align: center;
}
