
.panel-form .title {
    font-size: 32px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: Quicksand;
}

.panel-form li {
    
    display: inline-block;
}

.panel-form div {
    text-align: center;
}